---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Login">
  <main
    class="bg-dark-back w-full h-full py-32 sm:py-24 md:py-15 sm:h-full flex flex-col justify-center items-center caret-transparent sm:gap-10"
  >
    <div
      class="flex flex-row justify-center items-center gap-4 sm:gap-5 mb-5 sm:mb-0"
      transition:name="vaultly"
    >
      <img
        src="/assets/icons/icon.svg"
        alt="Vaultly Logo"
        class="w-14 h-14 sm:w-16 sm:h-16"
      />
      <h1 class="text-text font-extrabold text-5xl">Vaultly</h1>
    </div>

    <div
      class="fixed inset-0 bg-dark-back/80 backdrop-blur-sm z-50 sm:bg-transparent sm:backdrop-blur-none w-full h-20 rounded-b-4xl"
    >
      <a
        href="/"
        class="absolute left-6 top-7 sm:top-10 sm:left-10 flex flex-row justify-center items-center gap-2 hover:scale-105 transition active:scale-95 hover:text-secondary active:text-secondary"
      >
        <svg class="w-4 h-4 sm:w-6 sm:h-6">
          <use href="/assets/icons/back.svg"></use>
        </svg>
        <p class="text-lg font-medium">Inicio</p>
      </a>

      <a
        href="/register"
        class="absolute right-6 top-7 sm:top-10 sm:right-10 flex flex-row justify-center items-center gap-2 hover:scale-105 transition active:scale-95 hover:text-secondary active:text-secondary"
      >
        <p class="text-lg font-medium">Registrarse</p>
        <svg class="w-4 h-4 sm:w-6 sm:h-6">
          <use href="/assets/icons/go.svg"></use>
        </svg>
      </a>
      <hr class="fixed w-full text-text top-20 sm:hidden" />
    </div>
    <div
      class="bg-back w-[90%] h-auto sm:w-[70%] lg:w-[500px] rounded-2xl px-5 py-10 sm:p-10 flex flex-col justify-center items-center"
    >
      <h2 class="text-center text-xl sm:text-2xl text-text font-bold pb-5">
        Iniciar sesión
      </h2>
      <p class="text-secondary-text text-sm text-center w-[80%]">
        Bienvenido de nuevo a tu espacio financiero seguro.
      </p>
      <form class="flex flex-col justify-center items-center w-full px-5 py-10 sm:p-6 gap-5">
        <input
          type="email"
          name="email"
          id="login"
          placeholder="myemail@example.com"
          required
        />
        <input
          type="password"
          name="password"
          id="login"
          placeholder="Your password"
          required
        />
        <a
          href=""
          class="text-start w-full text-primary/80 hover:text-primary/100 text-sm"
          >¿Olvido su contraseña?</a>
        <button id="button">Ingresar</button>
      </form>
      <div class="flex flex-row gap-2 justify-center items-center w-full">
        <p class="text-sm">¿Aún no tiene un cuenta?</p>
        <a href="/register">
          <span class="text-primary/80 hover:text-primary/100 text-sm"
            >Registrarse</span
          >
        </a>
      </div>
    </div>
  </main>
</Layout>

<script>
  import {actions} from 'astro:actions';
  import { navigate } from 'astro:transitions/client';

  const form = document.querySelector("form");

  form?.addEventListener("submit", async (event) => {
    event.preventDefault();

    const formData = new FormData(form);
    const result = await actions.login(formData);

    if (result.data?.ok === true) {

      if (result.data.token) {
        sessionStorage.setItem("token", result.data.token)
      } else navigate("/login")
      
      setTimeout(() => {
        alert(result.data?.message)
        navigate("/dashboard") 
      }, 500)

    } else {
      alert(result.data?.message)
      console.log("Error al iniciar sesión: ", result.data?.error)
    }
  })

</script>