---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Register">
  <main
    class="flex flex-col justify-center items-center w-full h-screen bg-back sm:gap-10 caret-transparent"
  >
    <a
      href="/"
      class="fixed top-10 left-10 flex flex-row justify-center items-center gap-2 hover:scale-105 transition active:scale-95 hover:text-secondary"
    >
      <svg class="w-8 h-8">
        <use href="/assets/icons/back.svg"></use>
      </svg>
      <p class="text-xl font-medium">Inicio</p>
    </a>

    <a
      href="/login"
      class="fixed top-10 right-10 flex flex-row justify-center items-center gap-2 hover:scale-105 transition active:scale-95 hover:text-secondary"
    >
      <p class="text-xl font-medium">Iniciar sesión</p>
      <svg class="w-8 h-8">
        <use href="/assets/icons/go.svg"></use>
      </svg>
    </a>

    <div
      class="flex flex-row justify-center items-center gap-5"
      transition:name="vaultly"
    >
      <img src="/assets/icons/icon.svg" alt="Vaultly Logo" class="w-20" />
      <h1 class="text-text font-extrabold text-7xl">Vaultly</h1>
    </div>

    <div
      class="w-[90%] sm:w-[70%] lg:w-[1000px] h-auto flex flex-col justify-center items-center sm:flex-row bg-dark-back rounded-4xl"
    >
      <div
        class="bg-dark-back w-full h-full sm:w-[50%] rounded-l-4xl flex flex-col justify-center items-start p-16 gap-5"
      >
        <h2 class="text-4xl font-bold text-text text-balance">
          Regístrate hoy y comienza a dominar tus finanzas.
        </h2>
        <p
          class="text-secondary-text text-balance font-sans font-medium text-xl"
        >
          Organiza, analiza y crece.
        </p>
      </div>
      <div
        class="bg-primary w-full h-full sm:w-[50%] rounded-tl-[70px] rounded-bl-[90px] rounded-r-4xl flex flex-col justify-around items-center"
      >
        <form class="flex flex-col gap-6 w-full p-15">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="myemail@example.com"
            required
          />
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="pass"
            placeholder="Your password"
            required
          />
          <input
            type="password"
            name="cPassword"
            id="cPass"
            placeholder="Confirm your password"
            required
          />
          <a href="" class="text-white/80 text-lg hover:text-white/100"
            >¿olvido su contraseña?</a
          >
          <button type="submit" id="button"> Crear cuenta </button>
          <a
            href="/login"
            class="text-white/80 text-[16px] hover:text-white/100 text-center"
            >¿Ya tiene una cuenta?</a
          >
        </form>
      </div>
    </div>
  </main>
</Layout>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const { error } = await actions.register(formData);

    if (!error) navigate("/register/confirmcode");
  });
</script>
