---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Register">
  <main
    class="flex flex-col justify-center items-center w-full h-auto sm:h-full bg-back sm:gap-10 caret-transparent py-26 md:py-10"
  >
    <div
      class="fixed inset-0 bg-back/80 backdrop-blur-sm md:backdrop-blur-none md:bg-transparent z-50 w-full h-20 rounded-b-4xl"
    >
      <a
        href="/"
        class="absolute left-6 top-7 sm:top-10 sm:left-10 flex flex-row justify-center items-center gap-2 hover:scale-105 transition active:scale-95 hover:text-secondary active:text-secondary"
      >
        <svg class="w-4 h-4 sm:w-6 sm:h-6">
          <use href="/assets/icons/back.svg"></use>
        </svg>
        <p class="text-lg font-medium">Inicio</p>
      </a>

      <a
        href="/login"
        class="absolute right-6 top-7 sm:top-10 sm:right-10 flex flex-row justify-center items-center gap-2 hover:scale-105 transition active:scale-95 hover:text-secondary active:text-secondary"
      >
        <p class="text-lg font-medium">Iniciar sesión</p>
        <svg class="w-4 h-4 sm:w-6 sm:h-6">
          <use href="/assets/icons/go.svg"></use>
        </svg>
      </a>
      <hr class="fixed w-full text-text top-20 sm:hidden" />
    </div>

    <div
      class="flex flex-row justify-center items-center gap-4 mb-5 sm:mb-0"
      transition:name="vaultly"
    >
      <img
        src="/assets/icons/icon.svg"
        alt="Vaultly Logo"
        class="size-12 sm:size-14"
      />
      <h1 class="text-text font-extrabold text-4xl sm:text-5xl">Vaultly</h1>
    </div>

    <div class="w-[90%] sm:w-[70%] lg:w-[800px] h-screen sm:h-auto flex flex-col justify-center items-center md:flex-row bg-dark-back rounded-tl-4xl rounded-tr-4xl rounded-bl-[90px] rounded-br-4xl overflow-hidden">

      <div class="bg-dark-back w-full md:w-[50%] h-auto sm:rounded-l-4xl flex flex-col justify-start md:justify-center items-start p-14 gap-5">
        <h2 class="text-3xl font-bold text-text text-balance">
          Regístrate hoy y comienza a dominar tus finanzas.
        </h2>
        <p class="text-secondary-text text-balance font-sans font-medium text-lg">
          Organiza, analiza y crece.
        </p>
      </div>

      <div class="bg-primary w-full h-full md:w-[60%] rounded-tl-[70px] rounded-bl-[90px] flex flex-col justify-around items-center">

        <form class="flex flex-col gap-4 sm:gap-6 md:gap-4 w-full px-12 py-15 sm:p-14" id="RegisterForm">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="myemail@example.com"
            required
          />
          <label for="password">Password</label>
          <div class="w-full relative flex">
            <input
              type="password"
              name="password"
              id="pass"
              placeholder="Your password"
              required
            />
            <button type="button" class="absolute size-7 hover:bg-secondary-text/25 active:bg-secondary-text/25 rounded-full flex justify-center items-center right-1.5 top-1.5" id="eye1">
              <svg class="size-5" >
                <use href="/assets/icons/eye.svg" id="use1"></use>
              </svg>
            </button>
          </div>
            
          <div class="w-full relative flex">
            <input
              type="password"
              name="cPassword"
              id="cPass"
              placeholder="Confirm your password"
              required
            />
            <button type="button" class="absolute size-7 hover:bg-secondary-text/25 active:bg-secondary-text/25 rounded-full flex justify-center items-center right-1.5 top-1.5 m-0" id="eye2">
              <svg class="size-5" >
                <use href="/assets/icons/eye.svg" id="use2"></use>
              </svg>
            </button>
          </div>           

          <a href="" class="text-white/80 text-sm hover:text-white/100"
            >¿olvido su contraseña?</a
          >
          <button type="submit" id="button">Crear cuenta</button>
          <a 
            href="/login"
            class="text-white/80 text-sm hover:text-white/100 text-center"
            >¿Ya tiene una cuenta?</a
          >
        </form>
      </div>
    </div>
  </main>
</Layout>

<script>
  import { actions } from "astro:actions";

  const passwordInput = document.getElementById("pass") as HTMLInputElement;
  const toggleEye1 = document.getElementById("eye1") as HTMLElement;

  const cPasswordInput = document.getElementById("cPass") as HTMLInputElement;
  const toggleEye2 = document.getElementById("eye2") as HTMLElement;

  const useTag1 = document.getElementById("use1") as HTMLElement;
  const useTag2 = document.getElementById("use2") as HTMLElement;
 
  toggleEye1?.addEventListener("click", (e) => {
    e.preventDefault();
    const isPassword = passwordInput.type === "password";
    passwordInput.type = isPassword ? "text" : "password";

    if (isPassword) {
      useTag1.setAttribute("href", "/assets/icons/eyeclose.svg");
    } else {
      useTag1.setAttribute("href", "/assets/icons/eye.svg");
    }
  })

  toggleEye2.addEventListener("click", (e) => {
    e.preventDefault();
    const isCpassword = cPasswordInput.type === "password";
    cPasswordInput.type = isCpassword ? "text" : "password";

    if (isCpassword) {
      useTag2.setAttribute("href", "/assets/icons/eyeclose.svg");
    } else {
      useTag2.setAttribute("href", "/assets/icons/eye.svg");
    }
  })

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const result = await actions.register(formData);

    if (result.data?.ok === true) {
      setTimeout(() => {
        alert(result.data?.message)
        window.location.href = `/register/confirmcode?username=${encodeURIComponent(result.data?.username!)}`;
      }, 500);
    } else {
      alert(result.data?.message)
      console.log("Error:", result.data?.message);
    }
  });
</script>
