---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import Workinprogress from "../../shared/components/workinprogress.astro";
---

<DashboardLayout>
    <div class="size-full flex justify-center items-center">
        <Workinprogress></Workinprogress>
    </div>
    
</DashboardLayout>