---
import Layout from "../../layouts/Layout.astro";
import { SideBarService } from "../../services/sidebarService";
import SidebarWrapper from "../../components/Sidebarwrapper";

const sidebar = new SideBarService();
const isOpen = sidebar.getIsOpen();
---

<Layout title="Dashboard">
  <main
    class="flex flex-row h-full w-full gap-[1.5%] justify-start bg-back caret-transparent"
  >
    <SidebarWrapper client:load />
  </main>
</Layout>
