---
import Layout from "../../layouts/Layout.astro";
import Dasheader from "../../sections/Dasheader.astro";
---

<Layout>
    <Dasheader></Dasheader>
    <main class="bg-black"> 
        
    </main>
</Layout>
