---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import Card from "../../shared/components/card.astro";
import Transactionscard from "../../shared/components/transactionscard.astro";
import Presupuestocard from "../../shared/components/presupuestocard.astro"

const balance = null;
---

<DashboardLayout title="Dashboard">
  <div class="flex flex-col gap-5">
    <h1 class="text-text text-2xl font-medium">Dashboard</h1>
    <p class="text-secondary-text text-lg font-extralight">
      Bienvenido a tu panel de control financiero
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 grid-rows-2 lg:grid-rows-1 gap-5">
      <Card
        titulo="Balance total"
        icono="wallet"
      />
      <Card titulo="Ingresos del mes" 
        icono="arrow-top"
      />
      <Card titulo="Gastos del mes"
        icono="arrow-down"
      />
      <Card titulo="Ahorro del mes" 
       icono="trending-up"
      />
      
    </div>
    <div class="w-full h-full grid grid-cols-1 sm:grid-cols-2 grid-rows-2 sm:grid-rows-1 justify-start items-start col-span-4 row-span-1 gap-5">
        <Transactionscard class="row-span-1 col-span-1"></Transactionscard>
        <Presupuestocard class="row-span-1 col-span-1"></Presupuestocard>
    </div>
  </div>

</DashboardLayout>

