---
const {icono, texto} = Astro.props
---

<div class="flex flex-row gap-3 rounded-full w-[80%] sm:w-auto px-5 justify-center items-center bg-linear-100 from-primary/20 to-secondary/20 text-primary text-sm sm:text-lg py-3 ring-primary/50 ring-1">
    <img src={"assets/icons/" + icono + ".svg"} alt="icono" class="w-6 h-6 sm:w-8 sm:h-8" />
    <p>{texto}</p>
</div>