---
import Transactioncomponent from "./transactioncomponent.astro";


const transactions: any[] | null = [];

---



<div class="w-full max-h-[525px] md:max-h-[600px] flex flex-col bg-white p-5 sm:p-10 rounded-2xl ring-1 ring-secondary-text/10 gap-3 mt-5">
    <h1 class="text-xl text-text font-medium px-2 sm:px-0">Historial de transacciones</h1>
    <p class="text-sm font-extralight px-2 sm:px-0">Todas tus transacciones recientes en un solo lugar</p>
    <div class="flex flex-col w-full h-auto overflow-y-auto">

        <div class="w-full flex flex-col justify-around items-center gap-2 p-2 h-auto overflow-y-auto py-5 mask-b-from-95% mask-t-from-95%">
            {transactions.length <= 0 && (
                <div class="w-full flex justify-center items-center h-auto">
                    <img src="/assets/img/notransactions.webp" alt="Icono no transacciones" class="size-55 sm:size-65 opacity-75"/>
                </div>
            )}
            {transactions.map(tx => (
                <Transactioncomponent></Transactioncomponent>
            ))}
        </div>
    </div>
</div>  