---
interface Props {
    title: string,
    message: string,
    type: "success" | "info" | "warning" | "error"
}

const {title, message, type} = Astro.props as Props

const icon: string;

switch (type) {
    case "success":
        return icon = "success";
    case "info":
        return icon = "info";
    case "warning":
        return icon = "warning";
    case "error":
        return icon = "error";
        
    default:
        break;
}
---
<div class="fixed top-20 left-x-1/2 w-auto h-auto px-10 py-2 rounded-xl animate-slide-in-top" class:list={{"bg-gradient-to-r from-primary to-secondary" : type === "success"}}>
    <div class="grid grid-cols-[auto_1fr] grid-rows-2 gap-x-10 rounded-3xl items-center justify-center w-full">
        <img src={"assets/icons/" + icon + ".svg"} class="col-span-1 row-span-2 w-10 h-10" alt="Icono notificación">
        <h1 class="text-xl col-span-1 row-span-1 text-white font-medium">{title}</h1>
        <p class="text-sm col-span-1 row-span-1 text-white">{message}</p>
    </div>
</div>