@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
  --color-primary: #3b82f6;
  --color-dark-primary: #1e3a8a;
  --color-secondary: #10b981;
  --color-back: #f9fafb;
  --color-dark-back: #e5e7eb;
  --color-text: #111827;
  --color-secondary-text: #6b7280;
  --color-acent: #fbbf24;
}

@utility shadow-1 {
  box-shadow: 3px 5px 0 0 var(--color-dark-back);
}

@utility shadow-2 {
  box-shadow: -3px 5px 0 0 var(--color-dark-back);
}

hr {
  @apply mask-l-from-1 mask-r-from-1;
}

#ConfirmcodeForm input {
  @apply text-center text-3xl font-extrabold w-full sm:w-1/2 py-5 px-2 text-secondary-text tracking-[10px] mb-10 bg-dark-back rounded-3xl focus:ring-primary focus:ring-1 caret-secondary-text;
}

#RegisterForm input {
  @apply h-10 w-full px-3 py-3 sm:px-2 sm:py-2 bg-back rounded-xl enabled:border-rose-400 focus:border-0 border-none outline-none ring-primary focus:ring-2 focus:outline-none caret-secondary-text text-sm;
}

label {
  @apply text-white font-medium text-lg;
}

#loginForm input {
  @apply bg-dark-back/50 ring-1 ring-secondary-text/25 h-10 w-full px-3 py-3 sm:px-2 sm:py-2 rounded-xl enabled:border-rose-400 focus:border-0 border-none outline-none focus:ring-2 focus:outline-none caret-secondary-text text-sm;
}

#bt {
  @apply bg-secondary text-white font-medium px-4 py-3 rounded-xl transition hover:scale-105 active:scale-90 hover:cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-dark-back w-full mt-5 outline-none focus:outline-none border-none;
}


#nav {
  @apply flex flex-row items-center gap-2 hover:cursor-pointer hover:bg-back/20 lg:py-3 lg:px-3 rounded-xl transition duration-150;
}

#dIcon {
  @apply size-4;
}

#button {
  @apply bg-secondary active:scale-95 w-full h-auto px-4 py-3 text-sm text-white font-medium hover:bg-secondary/90 rounded-4xl cursor-pointer transition-all duration-300 focus:ring-1 focus:ring-white;
}

button {
  @apply cursor-pointer;
}

#code {
  @apply w-12 h-18 ring-1 ring-text/20 text-4xl focus:ring-secondary focus:ring-2 font-bold text-text text-center bg-dark-back/20;
}


.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}