@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-dark-primary: #1e3a8a;
  --color-secondary: #10b981;
  --color-back: #f9fafb;
  --color-dark-back: #e5e7eb;
  --color-text: #111827;
  --color-secondary-text: #6b7280;
  --color-acent: #fbbf24;
}

hr {
  @apply mask-l-from-1 mask-r-from-1;
}

input {
  @apply h-10 w-full px-3 py-3 bg-back rounded-xl enabled:border-rose-400 focus:border-0 border-none outline-none ring-primary focus:ring-2 focus:outline-none caret-secondary-text;
}

label {
  @apply text-white font-medium text-xl;
}

#bt {
  @apply bg-secondary text-white font-medium px-4 py-3 rounded-xl transition hover:scale-105 active:scale-90 hover:cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-dark-back w-full mt-5 outline-none focus:outline-none border-none;
}

#login {
  @apply focus:border-2 border-primary bg-dark-back;
}

#nav {
  @apply flex flex-row items-center gap-2 hover:cursor-pointer hover:bg-back/20 lg:py-3 lg:px-3 rounded-xl transition duration-150;
}

#dIcon {
  @apply w-6 h-6;
}

#button {
  @apply bg-secondary active:scale-95 w-full h-auto px-5 py-3 sm:px-6 sm:py-4 text-lg sm:text-xl text-white font-medium hover:bg-secondary/90 rounded-4xl cursor-pointer transition-all duration-300;
}

button {
  @apply cursor-pointer;
}

#code {
  @apply w-12 h-18 ring-1 ring-text/20 text-4xl focus:ring-secondary focus:ring-2 font-bold text-text text-center bg-dark-back/20;
}
