---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
---

<Layout>
  <Header></Header>
  <main class="bg-dark-back w-full h-auto">
    
  </main>
</Layout>
