---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
---

<Layout>
  <Header></Header>
  <main>
    <section class="w-full h-screen p-10 flex flex-col justify-center items-center bg-back">


    </section>
  </main>
</Layout>
