---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header";
import Label from "../shared/components/label.astro";
---

<Layout>
  <Header client:load/>
  <main class="flex flex-col gap-0 h-auto w-full justify-center items-center">
    <section class="w-full h-auto sm:h-screen py-30 px-6 flex flex-col justify-center items-center bg-back gap-14">
      <Label icono="wallet" texto="Una comunidad en crecimiento de ahorradores inteligentes"></Label>
      <div class="flex flex-col gap-10 text-balance text-center justify-center items-center w-full">
        <h1 class="text-5xl sm:text-8xl font-bold w-full">Gestiona tu Dinero Fácilmente <br><span class="text-4xl sm:text-7xl bg-clip-text bg-gradient-to-r from-primary to-secondary text-clip text-transparent">Desde Cualquier Lugar</span></h1>
        <p class="text-xl sm:text-2xl text-secondary-text font-extralight">Organiza tus finanzas sin esfuerzo. Vaultly te permite registrar tus gastos, planificar tu dinero y visualizar todo con claridad en un solo lugar.</p>
      </div>
      <div class="flex flex-row justify-center items-center gap-4 sm:gap-8">
        <div class="flex flex-row items-center justify-center w-auto h-auto rounded-2xl bg-primary text-white hover:bg-primary/80 active:bg-primary/80 font-medium text-2xl">
          <a href="/register" class="flex items-center justify-center h-full w-full gap-1 sm:gap-2 px-3 py-2 sm:px-6 sm:py-4">
            <p class="text-[14px] sm:text-xl">Comenzar gratis</p>
            <img src="/assets/icons/arrowright.svg" alt="icono flecha derecha" class="w-8 h-8"/>
          </a>
        </div>
        <div class="flex flex-row items-center justify-center w-auto h-auto rounded-2xl bg-back ring-1 ring-text/50 text-text hover:bg-secondary active:bg-secondary hover:text-white font-medium text-2xl hover:ring-0">
          <a href="/login" class="flex items-center justify-center h-full w-full gap-1 sm:gap-2 px-10 py-3 sm:px-14 sm:py-4">
            <p class="text-[14px] sm:text-xl">Iniciar Sesión</p>
          </a>
        </div>
      </div>
    </section>
    <section class="w-full h-screen p-10 flex flex-col justify-center items-center bg-dark-back/40 gap-18" >

    </section>
  </main>
</Layout>
