<header>
    <div class="fixed flex-row justify-around w-full h-24 bg-secondary rounded-b-4xl">
        <nav>
            <a href="/dashboard"></a>
            <a href="/dashboard/movimientos">Movimientos</a>
            <a href="/dashboard/ajustes">Ajustes</a>
        </nav>
    </div>
</header>