<layaout>
  <header
    class="h-28 w-full flex flex-row justify-start items-center bg-dark-back caret-transparent">
      <div class="fixed w-full left-w-1/2 flex flex-row items-center justify-center gap-5">
        <img src="assets/icons/icon.svg" alt="Vaultly Logo" class="h-20 w-20"/>
        <h1 class="text-[100px] font-extrabold text-white">Vaultly</h1>
      </div>
      <div class="fixed left-10">
        <button>
          Sign In
        </button>
 
      </div>
      
  </header>
</layaout>
