<layaout>
  <header
    class="fixed h-28 w-full flex flex-row justify-center items-center p-5 bg-primary">
      <h1 class="fixed top-10 text-[100px] font-extrabold text-back">Vaultly</h1>
  </header>
</layaout>
