<header>
  <div class="flex flex-col gap-5 w-full">
    <section class="fixed flex flex-row justify-around w-full top-0 h-auto p-5 items-center bg-back/80 backdrop-blur-sm z-50">
      <a href="/login" class="px-5 py-2 w-auto rounded-2xl bg-primary text-white hover:bg-back hover:ring-1 hover:text-text hover:ring-text/50 font-medium text-xl">Iniciar Sesión</a>
      <div class="flex flex-row items-center justify-center gap-2">
        <img
          src="/assets/icons/icon.svg"
          alt="icono usuario"
          class="h-18 w-18"
        />
        <h1 class="text-5xl font-extrabold text-text">Vaultly</h1>
      </div>
      <a href="/register" class="px-5 py-2 w-auto rounded-2xl bg-back text-text ring-1 ring-text/50 hover:bg-secondary hover:text-white hover:ring-0 font-medium text-xl">Registrarse</a>

    </section>
    <hr class="fixed w-full text-text mt-28">
  </div>
</header>