---
import { ClientRouter } from "astro:transitions";
import Footer from "../sections/Footer.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title ? `${title}` : "Vaultly"}</title>
    <ClientRouter />
  </head>
  <body class="caret-transparent">
      <slot />
  </body>
  <Footer></Footer>
</html>
<style is:global>
  @import "tailwindcss";
  @import "../styles/global.css";
</style>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    caret: transparent;
  }
</style>
